-i https://pypi.org/simple
dash==2.18.2; python_version >= '3.8'
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
numpy==1.26.4; python_version >= '3.9'
pandas==2.2.3; python_version >= '3.9'
